In [ ]:
List1 = ['hi','hello','how are you']
print(List1)
print(List1[2])
list2 = List1 + [1,2,3,4,5,9]
list2

['hi', 'hello', 'how are you']
how are you

['hi', 'hello', 'how are you', 1, 2, 3, 4, 5, 9]

In [ ]:
list2[-4]

3

In [ ]:

squares = []

for i in range(0,10):
  i = i ** 2
  squares.append(i)
print(squares)

cubes = []

for j in range(0,10):
  j = j ** 3
  cubes.append(j)
print(cubes)


quadraples = []
for k in range(0,10):
  k = k ** 4
  quadraples.append(k)
print(quadraples)

newlist = [squares,cubes,quadraples]
print(newlist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]
[[0, 1, 4, 9, 16, 25, 36, 49, 64, 81], [0, 1, 8, 27, 64, 125, 216, 343, 512, 729], [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]]

In [ ]:
print(newlist.reverse())

newlist.sort()
print(newlist)

None
[[0, 1, 4, 9, 16, 25, 36, 49, 64, 81], [0, 1, 8, 27, 64, 125, 216, 343, 512, 729], [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]]

In [ ]:
newlist[0]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
newlist[1][5]

125

In [ ]:
my_dict = {'key1':'Hai','key2':[12,45,78],'key3':['a','e','i','o','u']}
my_dict['key1']

'Hai'

In [ ]:
my_dict['key3'][0].upper()

'A'

In [ ]:
tup = ('hi',4,56,[9,98,7])
tup
tup1 = ('keyk',5,90,tup)
tup1
type(tup1)

tuple

In [ ]:
set1 = {'apple','banana','mango','grapes'}
set1

{'apple', 'banana', 'grapes', 'mango'}

In [ ]:
set2 = {'a','z','h','o'}
set2

{'a', 'h', 'o', 'z'}

In [ ]:
count = 0
while (count<10):
  print(count)
  count = count+2
else:
  print("After a While!")

0
2
4
6
8
After a While!

In [ ]:
X = int(input("Enter a number to check if its prime: "))

Is_prime = True

for i in range (2,X):
  if (X % i) == 0:
    Is_prime = False
    break
if Is_prime:
  print(X,"Number is Prime")
else:
  print(X,"Number is not prime")

Enter a number to check if its prime: 13
13 Number is Prime

In [ ]:
while True:
  n = input("Enter a variable: ")

  if n == 'q':
    print("The loop ends here.......with break statement")
    break
  if not n.isdigit():
    print("Enter only digits:.......with continue statement")
    continue

  n = int(n)
  print("Cubes for the given number",n,"is",n**3)

Enter a variable: 67
Cubes for the given number 67 is 300763
Enter a variable: k
Enter only digits:.......with continue statement
Enter a variable: q
The loop ends here.......with break statement

hey
welcome
to
practice

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
list1 = list(range(x,y+1,2))
print(list1)

Enter first number: 50
Enter second number: 80
[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [ ]:
def factorial(n):
  factorial = 1
  if int(n)>=1:
    for i in range(1,int(n)+1):
      factorial = factorial*i;
    return factorial

x = int(input("Enter the value to get the factorial: "))
factorial(x)

Enter the value to get the factorial: 20

2432902008176640000

In [ ]:
def products_purchased(prod1,*args):
  print("Default argument value would be: ",prod1)
  for items in args:
    print(items)
  #return()
products_purchased("Milk","Eggs","Flour","Medicine")

Default argument value would be:  Milk
Eggs
Flour
Medicine